/ Header
%table.head-wrap
  %tr
    %td
    %td.header.container{align: "center"}
      .content
        %img{src: "logo.jpg", alt: "Name"}
    %td

/ Body
%table.body-wrap
  %tr
    %td
    %td.container{bgcolor: "#FFFFFF"}
      .content
        %table
          %tr
            %td
              %h3 Content here
    %td



/ Footer
%table.footer-wrap
  %tr
    %td
    %td.container
      .content
        %table
          %tr
            %td{:align => "center"}
              %p
                %a{:href => "#"}
                  %unsubscribe Unsubscribe
    %td
